version: "3.8"

services:
  api:
    build: ./app
    ports:
      - "3000:3000"
    depends_on:
      - db
    networks:
      - stack

  db:
    image: postgres:14
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: empresa
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - stack
    ports:
      - "5432:5432"

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - stack

  grafana:
    image: grafana/grafana
    ports:
      - "3001:3000"
    networks:
      - stack

networks:
  stack:
