services:
  api:
    build: ./app
    ports:
      - "3000:3000"
    depends_on:
      - db
    networks:
      - stack

  db:
    image: postgres:14
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5433:5432"
    networks:
      - stack

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - stack

  grafana:
    image: grafana/grafana
    user: "root"
    ports:
      - "3001:3000"
    volumes:
      - grafana-storage:/var/lib/grafana
    networks:
      - stack

networks:
  stack:

volumes:
  grafana-storage:
